<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Register Company</title>
</head>
<body class="bg-rose-200  h-screen ">
    <div class="max-w-7xl py-4 mx-auto">
       
        <nav class=" border-gray-200 mx-12  dark:bg-gray-900">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4">
              <a href="https://flowbite.com/" class="flex items-center ">
                  <img src="https://www.microsystemservices.com/images/logo.jpg" class="h-8 mr-4 bg-blend-multiply mix-blend-multiply scale-150 " alt="Flowbite Logo" />
                  <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white mr-4">PowerTech</span>
              </a>
              <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-xl text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                  </svg>
              </button>
              <div class="hidden w-full md:block text-xl md:w-auto" id="navbar-default">
                <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 md:mt-0 md:border-0 md: dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                  <li>
                    <a href="/admin/index" class="block py-2 pl-3 pr-4 text-white bg-white-700 rounded md:bg-transparent md:text-red-700 md:p-0 dark:text-white md:dark:text-red-500" aria-current="page">Home</a>
                  </li>
                  <li>
                    <a href="/about" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">About</a>
                  </li>
                  <li>
                    <a href="#" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Services</a>
                  </li>
                  <li>
                    <a href="/admin/faq" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">FAQ's</a>
                  </li>
                  <li>
                    <a href="/contact" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-red-700 md:p-0 dark:text-white md:dark:hover:text-red-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
                  </li>
                  <li>
                    <a href="/admin/register-company" class="block py-2 pl-3 pr-4 text-white-900 rounded hover:bg-white-100 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white-500 dark:hover:bg-white-700 dark:hover:text-white md:dark:hover:bg-transparent">Register  Company</a>
                  </li>
                  <li>
                    <a href="/admin/dashboard" class="block py-2 pl-3 pr-4 text-white-900 rounded hover:bg-white-100 md:hover:bg-transparent md:border-0 md:hover:text-white md:p-0 dark:text-white md:dark:hover:text-white-500 dark:hover:bg-white-700 dark:hover:text-white md:dark:hover:bg-transparent">Companies</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          
            </div>
            <div class=" h-[90%] flex justify-center items-center ">
    <div class="bg-white p-8 rounded shadow-2xl shadow-rose-300 ">
        <h2 class="text-2xl mb-4 font-bold font-serif">Register Company</h2>
        <form action="/admin/register" method="POST">
            <div class="flex justify-between space-x-4">
                <div class="mb-4">
                    <label class="block text-gray-700 font-bold mb-2 font-mono " for="companyName ">Company Name</label>
                    <input class="border rounded w-full py-2 px-3" type="text" id="companyName" name="companyName" placeholder="Enter company name" required>
                </div>
                <div class="mb-4">
                    <label class="block text-gray-700  font-mono font-bold mb-2" for="ownerName">Owner Name</label>
                    <input class="border rounded w-full py-2 px-3" type="text" id="ownerName" name="ownerName" placeholder="Enter owner name" required>
                </div>
            </div>
           <div class="flex justify-between">
            <div class="mb-4">
                <label class="block text-gray-700 font-bold  font-mono mb-2" for="gstNo">GST No</label>
                <input class="border rounded w-full py-2 px-3" type="text" id="gstNo" name="gstNo" placeholder="Enter GST No" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700   font-mono font-bold mb-2" for="email">Email</label>
                <input class="border rounded w-full py-2 px-3" type="email" id="email" name="email" placeholder="Enter email" required>
            </div>
           </div>
          <div class="flex justify-between">
            <div class="mb-4">
                <label class="block  font-mono text-gray-700 font-bold mb-2" for="state">State</label>
                <input class="border rounded w-full py-2 px-3" type="text" id="state" name="state" placeholder="Enter state" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700  font-mono font-bold mb-2" for="city">City</label>
                <input class="border rounded w-full py-2 px-3" type="text" id="city" name="city" placeholder="Enter city" required>
            </div>
          </div>
           
            <div class="mb-4">
                <label class="block text-gray-700  font-mono font-bold mb-2" for="address">Address</label>
                <input class="border rounded w-full py-2 px-3" type="text" id="address" name="address" placeholder="Enter address" required>
            </div>
            <button class="bg-rose-700  font-mono font-extrabold text-white px-4 py-2 rounded" type="submit">Register</button>
        </form>
    </div>
    </div>
</body>
</html>
