<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Dashboard</title>
</head>

<body  class="flex justify-center items-center h-screen bg-cyan-600">
   
    <section >
        <div class="mx-auto max-w-full px-4 sm:px-6 lg:px-8">
          <div class="mx-auto w-full text-center md:max-w-2xl">
            <h2 class="text-4xl font-bold leading-tight text-[#344986] sm:text-4xl lg:text-5xl">
                MSS Powertech Pvt Ltd.
            </h2>
            <p class="mx-auto mt-4 max-w-xl text-2xl leading-relaxed text-white font-bold font-serif">
                MSS Powertech Pvt Ltd. is an ISO 9001:2008 certified manufacturing company in the field of power electronics. We offer critical solution for Industrial machinery installations and industries using raw power directly for various uses. Micro System Services is dedicated to research and development in power protection and conditioning solutions.
            </p>
          </div>
          <form action="#" method="POST" class="mx-auto mt-12 max-w-xl">
            <div class="flex flex-col items-center sm:flex-row sm:justify-center">
              <div class="flex w-full max-w-sm justify-center items-center space-x-4">
               
                <a href="/user/update-details" 
                  type="button"
                  class="rounded-md bg-[#3576A7] px-3 py-2 text-xl text-center font-semibold text-white shadow-sm hover:bg-black/80 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black"
                >
                  Update Details
              </a>
              
              </div>
            </div>
          </form>
         
      </section>
</body>

</html>
